@{
    ViewData["Title"] = "Callback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Callback</h1>
<hr />
<p><b>Code: </b>@ViewBag.Code</p>
<p><b>State: </b>@ViewBag.State</p>


<p><b>Result: </b>@ViewBag.Result</p>



